RewriteEngine On
# Spanish
	RewriteRule ^index index.php	
	RewriteRule ^principal index.php

	RewriteRule ^es/nosotros es/nosotros.php
	RewriteRule ^es/productos es/productos.php
	RewriteRule ^es/servicios es/servicios.php
	RewriteRule ^es/especiales es/especiales.php
	RewriteRule ^es/contacto es/contacto.php
	
	RewriteRule ^es/moviles/?$ es/moviles.php
	RewriteRule ^es/moviles/(\w+)$ es/moviles.php?movil=$1
	RewriteRule ^es/moviles/(\w+)$ es/moviles.php?movil=$1

	RewriteRule ^blu-phone/([a-zA-Z0-9\-]+)$ es/detalles-movil.php?movil=$1

	RewriteRule ^blu-compare$ es/comparar.php


	

# English
	
	RewriteRule ^en/we en/nosotros.php
	RewriteRule ^en/products en/productos.php
	RewriteRule ^en/services en/servicios.php
	RewriteRule ^en/specials en/especiales.php
	RewriteRule ^en/contacts en/contacto.php

