html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 900px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: 1px;
}

#u75
{
	z-index: 2;
	width: 960px;
	padding-bottom: 9px;
}

#u77
{
	z-index: 4;
	width: 160px;
	height: 131px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 27px;
}

#u77.MuseLinkActive
{
	margin: 13px -10000px 0px 0px;
}

#u144-4
{
	z-index: 5;
	width: 451px;
	min-height: 40px;
	margin-right: -10000px;
	margin-top: 62px;
	left: 417px;
}

#pu1042
{
	width: 0.01px;
	padding-bottom: 6px;
	left: -85px;
	margin-top: 22px;
	position: relative;
}

#u1042
{
	z-index: 9;
	width: 920px;
	height: 337px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 105px;
	background: #FFFFFF url("../images/diapositiva14-u1042-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#pamphletu1106
{
	z-index: 45;
	width: 0.01px;
	height: 480px;
	position: relative;
	margin-right: -10000px;
	margin-top: 88px;
}

#u1109
{
	position: absolute;
	width: 601px;
}

#u1109popup
{
	z-index: 46;
}

#u1110
{
	z-index: 47;
	width: 599px;
	height: 457px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	-moz-border-radius: 15px 15px 0px 15px ;
	-webkit-border-radius: 15px 15px 0px 15px ;
	-khtml-border-radius: 15px 15px 0px 15px ;
	border-radius: 15px 15px 0px 15px ;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/advance%2040-u1110-fr.jpg") no-repeat left top;
	background-size: contain !important;
}

#u1115
{
	z-index: 48;
	width: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 468px;
	left: 469px;
}

#u1116
{
	position: absolute;
	width: 32px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 6px;
	top: -7px;
	left: -3px;
}

#u1116:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin: 0px;
}

#u1117-4
{
	z-index: 50;
	width: 26px;
	min-height: 12px;
	background-color: transparent;
	font-size: 10px;
	color: #7F7F7F;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 3px;
}

#u1116:hover #u1117-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 7px -10000px 0px 0px;
}

#u1116:active #u1117-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 7px -10000px 0px 0px;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pamphletu1120
{
	z-index: 54;
	width: 0.01px;
	height: 481px;
	position: relative;
	margin-right: -10000px;
	margin-top: 87px;
	left: 539px;
}

#u1132
{
	position: absolute;
	width: 593px;
}

#u1132popup
{
	z-index: 55;
}

#u1133
{
	z-index: 56;
	width: 591px;
	height: 457px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	-moz-border-radius: 15px 15px 0px 15px ;
	-webkit-border-radius: 15px 15px 0px 15px ;
	-khtml-border-radius: 15px 15px 0px 15px ;
	border-radius: 15px 15px 0px 15px ;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/advance%2040l%20especificaciones-u1133-fr.jpg") no-repeat left top;
	background-size: contain !important;
}

#u1123
{
	z-index: 57;
	width: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 469px;
	left: 420px;
}

#u1124
{
	position: absolute;
	width: 32px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 6px;
	top: -7px;
	left: -3px;
}

#u1124:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin: 0px;
}

#u1116.PamphletThumbSelected,#u1124.PamphletThumbSelected
{
	background-color: #6B6B6B;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin: 0px;
}

#u1125-4
{
	z-index: 59;
	width: 26px;
	min-height: 12px;
	background-color: transparent;
	font-size: 10px;
	color: #7F7F7F;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 3px;
}

#u1116.PamphletThumbSelected #u1117-4,#u1124:hover #u1125-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 7px -10000px 0px 0px;
}

#u1124:active #u1125-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 7px -10000px 0px 0px;
}

#u1124.PamphletThumbSelected #u1125-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 7px -10000px 0px 0px;
}

#u1116.PamphletThumbSelected #u1117-4 p,#u1124.PamphletThumbSelected #u1125-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	font-size: 10px;
}

#ppu1026
{
	width: 0.01px;
	margin-left: 52px;
	top: -148px;
	margin-bottom: -148px;
	position: relative;
}

#pu1026
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 484px;
}

#u1026
{
	z-index: 23;
	width: 373px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 7px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/fondo%20advance.jpg") no-repeat right center;
}

#u2860
{
	z-index: 36;
	width: 134px;
	height: 185px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -34px;
	left: 14px;
	background: transparent url("../images/white-u2860-fr.png") no-repeat left center;
	background-size: cover !important;
}

#pu1047
{
	width: 0.01px;
	position: relative;
}

#u1047
{
	z-index: 28;
	width: 98px;
	height: 43px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/logo-white-u587-fr.png") no-repeat center center;
	background-size: cover !important;
}

#u1058-4
{
	z-index: 24;
	width: 114px;
	min-height: 30px;
	font-size: 14px;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 101px;
}

#u1011-4
{
	z-index: 29;
	width: 104px;
	min-height: 30px;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: normal;
	margin-top: 8px;
	position: relative;
}

#u1046
{
	z-index: 33;
	width: 20px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 163px;
}

#u1028
{
	z-index: 34;
	width: 20px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #009245;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 188px;
}

#u1014
{
	z-index: 35;
	width: 20px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 213px;
}

#u2867-4
{
	z-index: 37;
	width: 39px;
	min-height: 17px;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 87px;
	left: 236px;
}

#u1038
{
	z-index: 10;
	width: 373px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/fondo%20advance.jpg") no-repeat right center;
}

#u1004
{
	z-index: 11;
	width: 141px;
	height: 187px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -34px;
	left: 11px;
	background: transparent url("../images/blu%20advance%2040-u1004-fr.png") no-repeat center center;
	background-size: cover !important;
}

#ppu1047,#pu1055
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 163px;
}

#u1055
{
	z-index: 16;
	width: 98px;
	height: 43px;
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../images/logo-white-u587-fr.png") no-repeat center center;
	background-size: cover !important;
}

#u1015-4
{
	z-index: 17;
	width: 104px;
	min-height: 30px;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: normal;
	margin-top: 8px;
	position: relative;
}

#u1025-4
{
	z-index: 12;
	width: 96px;
	min-height: 30px;
	font-size: 15px;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 267px;
}

#u1023
{
	z-index: 21;
	width: 20px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 163px;
}

#u1053
{
	z-index: 22;
	width: 20px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 188px;
}

#u2868-4
{
	z-index: 41;
	width: 40px;
	min-height: 19px;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 90px;
	left: 211px;
}

#u76
{
	z-index: 3;
	width: 960px;
	height: 62px;
	margin-top: 79px;
}

#page .verticalspacer
{
	clear: both;
}

