html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1600px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: 1px;
}

#u75
{
	z-index: 2;
	width: 960px;
	padding-bottom: 9px;
}

#u77
{
	z-index: 4;
	width: 160px;
	height: 131px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 27px;
}

#u77.MuseLinkActive
{
	margin: 13px -10000px 0px 0px;
}

#u144-4
{
	z-index: 5;
	width: 451px;
	min-height: 40px;
	margin-right: -10000px;
	margin-top: 62px;
	left: 417px;
}

#pu226
{
	width: 0.01px;
	padding-bottom: 6px;
	margin-left: 20px;
	margin-top: 22px;
	position: relative;
}

#u226
{
	z-index: 9;
	width: 920px;
	height: 337px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/diapositiva57-u226-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#pamphletu559
{
	z-index: 141;
	width: 0.01px;
	height: 377px;
	position: relative;
	margin-right: -10000px;
	margin-top: 191px;
	left: 100px;
}

#u569popup
{
	z-index: 142;
}

#u570
{
	z-index: 143;
	width: 265px;
	height: 354px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	-moz-border-radius: 15px 15px 0px 15px ;
	-webkit-border-radius: 15px 15px 0px 15px ;
	-khtml-border-radius: 15px 15px 0px 15px ;
	border-radius: 15px 15px 0px 15px ;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/features%20diva%20ii.jpg") no-repeat left top;
}

#u566
{
	z-index: 144;
	width: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 365px;
	left: 264px;
}

#u567
{
	position: absolute;
	width: 32px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 6px;
	top: -7px;
	left: -3px;
}

#u567:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin: 0px;
}

#u568-4
{
	z-index: 146;
	width: 26px;
	min-height: 12px;
	background-color: transparent;
	font-size: 10px;
	color: #7F7F7F;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 3px;
}

#u567:hover #u568-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 7px -10000px 0px 0px;
}

#u567:active #u568-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 7px -10000px 0px 0px;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pamphletu630
{
	z-index: 150;
	width: 0.01px;
	height: 377px;
	position: relative;
	margin-right: -10000px;
	margin-top: 191px;
	left: 590px;
}

#u638popup
{
	z-index: 151;
}

#u639
{
	z-index: 152;
	width: 265px;
	height: 354px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	-moz-border-radius: 15px 15px 0px 15px ;
	-webkit-border-radius: 15px 15px 0px 15px ;
	-khtml-border-radius: 15px 15px 0px 15px ;
	border-radius: 15px 15px 0px 15px ;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/jenni%202.jpg") no-repeat left top;
}

#u631
{
	z-index: 153;
	width: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 365px;
	left: 264px;
}

#u632
{
	position: absolute;
	width: 32px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 6px;
	top: -7px;
	left: -3px;
}

#u632:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin: 0px;
}

#u633-4
{
	z-index: 155;
	width: 26px;
	min-height: 12px;
	background-color: transparent;
	font-size: 10px;
	color: #7F7F7F;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 3px;
}

#u567.PamphletThumbSelected #u568-4,#u632:hover #u633-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 7px -10000px 0px 0px;
}

#u632:active #u633-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 7px -10000px 0px 0px;
}

#ppu584
{
	width: 0.01px;
	margin-left: 52px;
	top: -148px;
	margin-bottom: -148px;
	position: relative;
}

#u584
{
	z-index: 25;
	width: 373px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/fondo%20feature.jpg") no-repeat left top;
}

#u2612
{
	z-index: 133;
	width: 148px;
	height: 177px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -24px;
	left: 10px;
	background: transparent url("../images/jenni%20ii-u2612-fr.png") no-repeat center center;
	background-size: cover !important;
}

#u587
{
	z-index: 30;
	width: 98px;
	height: 43px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/logo-white-u587-fr.png") no-repeat center center;
	background-size: cover !important;
}

#u586-4
{
	z-index: 26;
	width: 108px;
	min-height: 30px;
	font-size: 21px;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 103px;
}

#u588-4
{
	z-index: 31;
	width: 104px;
	min-height: 30px;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: normal;
	margin-top: 8px;
	position: relative;
}

#u2606-4
{
	z-index: 122;
	width: 39px;
	min-height: 17px;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: normal;
	margin-left: 35px;
	margin-top: 14px;
	position: relative;
}

#u589
{
	z-index: 35;
	width: 20px;
	height: 20px;
	background: #000000 url("../images/u589-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(24%, #0071BC),to(#000000));
	background: -webkit-linear-gradient(top,#0071BC 24%,#000000 );
	background: -moz-linear-gradient(top,#0071BC 24%,#000000 );
	background: -ms-linear-gradient(top,#0071BC 24%,#000000 );
	background: -o-linear-gradient(top,#0071BC 24%,#000000 );
	background: linear-gradient(to bottom,#0071BC 24%,#000000 );
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 163px;
}

#u590
{
	z-index: 36;
	width: 20px;
	height: 20px;
	background: #000000 url("../images/u590-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#FF0000),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,#FF0000 ,#000000 100%);
	background: -moz-linear-gradient(top,#FF0000 ,#000000 100%);
	background: -ms-linear-gradient(top,#FF0000 ,#000000 100%);
	background: -o-linear-gradient(top,#FF0000 ,#000000 100%);
	background: linear-gradient(to bottom,#FF0000 ,#000000 100%);
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 188px;
}

#u591
{
	z-index: 37;
	width: 20px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 213px;
}

#u592
{
	z-index: 38;
	width: 20px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFF00;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 238px;
}

#pamphletu658
{
	z-index: 168;
	width: 0.01px;
	height: 377px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 74px;
}

#u659popup
{
	z-index: 169;
}

#u660
{
	z-index: 170;
	width: 265px;
	height: 354px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	-moz-border-radius: 15px 15px 0px 15px ;
	-webkit-border-radius: 15px 15px 0px 15px ;
	-khtml-border-radius: 15px 15px 0px 15px ;
	border-radius: 15px 15px 0px 15px ;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/samba%20tv.jpg") no-repeat left top;
}

#u661
{
	z-index: 171;
	width: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 366px;
	left: 264px;
}

#u662
{
	position: absolute;
	width: 32px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 6px;
	top: -8px;
	left: -3px;
}

#u662:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin: 0px;
}

#u663-4
{
	z-index: 173;
	width: 26px;
	min-height: 12px;
	background-color: transparent;
	font-size: 10px;
	color: #7F7F7F;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 3px;
}

#u662:hover #u663-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 8px -10000px 0px 0px;
}

#u662:active #u663-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 8px -10000px 0px 0px;
}

#u230
{
	z-index: 10;
	width: 373px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/fondo%20feature.jpg") no-repeat left top;
}

#u231
{
	z-index: 11;
	width: 148px;
	height: 177px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -33px;
	left: 15px;
	background: transparent url("../images/blu%20diva%20ii-u231-fr.png") no-repeat center center;
	background-size: cover !important;
}

#u2608
{
	z-index: 127;
	width: 20px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 188px;
}

#u2609
{
	z-index: 128;
	width: 20px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFF00;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 110px;
	left: 213px;
}

#pu536-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 238px;
}

#u536-4
{
	z-index: 12;
	width: 96px;
	min-height: 30px;
	font-size: 24px;
	color: #FFFFFF;
	font-weight: bold;
	margin-left: 34px;
	position: relative;
}

#u2611-4
{
	z-index: 129;
	width: 39px;
	min-height: 17px;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: normal;
	margin-top: 66px;
	position: relative;
}

#u537
{
	z-index: 16;
	width: 98px;
	height: 43px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 163px;
	background: transparent url("../images/logo-white-u587-fr.png") no-repeat center center;
	background-size: cover !important;
}

#u579-4
{
	z-index: 17;
	width: 104px;
	min-height: 30px;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
	left: 163px;
}

#u580
{
	z-index: 21;
	width: 20px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 163px;
}

#u581
{
	z-index: 22;
	width: 20px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #0071BC;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 188px;
}

#u582
{
	z-index: 23;
	width: 20px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 213px;
}

#u583
{
	z-index: 24;
	width: 20px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #66DCA7;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 238px;
}

#u2607
{
	z-index: 126;
	width: 20px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #E27DAC;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 111px;
	left: 163px;
}

#pamphletu644
{
	z-index: 159;
	width: 0.01px;
	height: 377px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 68px;
}

#u654popup
{
	z-index: 160;
}

#u655
{
	z-index: 161;
	width: 265px;
	height: 354px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	-moz-border-radius: 15px 15px 0px 15px ;
	-webkit-border-radius: 15px 15px 0px 15px ;
	-khtml-border-radius: 15px 15px 0px 15px ;
	border-radius: 15px 15px 0px 15px ;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/jenny%20tv%202.8.jpg") no-repeat left top;
}

#u651
{
	z-index: 162;
	width: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 366px;
	left: 264px;
}

#u652
{
	position: absolute;
	width: 32px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 6px;
	top: -8px;
	left: -3px;
}

#u652:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin: 0px;
}

#u653-4
{
	z-index: 164;
	width: 26px;
	min-height: 12px;
	background-color: transparent;
	font-size: 10px;
	color: #7F7F7F;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 3px;
}

#u662.PamphletThumbSelected #u663-4,#u652:hover #u653-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 8px -10000px 0px 0px;
}

#u652:active #u653-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 8px -10000px 0px 0px;
}

#u652.PamphletThumbSelected #u653-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 8px -10000px 0px 0px;
}

#pamphletu672
{
	z-index: 177;
	width: 0.01px;
	height: 377px;
	margin-left: 120px;
	top: -151px;
	margin-bottom: -151px;
	position: relative;
}

#u569,#u638,#u659,#u654,#u682
{
	position: absolute;
	width: 267px;
}

#u682popup
{
	z-index: 178;
}

#u683
{
	z-index: 179;
	width: 265px;
	height: 354px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	-moz-border-radius: 15px 15px 0px 15px ;
	-webkit-border-radius: 15px 15px 0px 15px ;
	-khtml-border-radius: 15px 15px 0px 15px ;
	border-radius: 15px 15px 0px 15px ;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/tank%202.jpg") no-repeat left top;
}

#u679
{
	z-index: 180;
	width: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 365px;
	left: 264px;
}

#u680
{
	position: absolute;
	width: 32px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 6px;
	top: -7px;
	left: -3px;
}

#u680:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin: 0px;
}

#u681-4
{
	z-index: 182;
	width: 26px;
	min-height: 12px;
	background-color: transparent;
	font-size: 10px;
	color: #7F7F7F;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 3px;
}

#u632.PamphletThumbSelected #u633-4,#u680:hover #u681-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 7px -10000px 0px 0px;
}

#u680:active #u681-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 7px -10000px 0px 0px;
}

#ppu603
{
	width: 0.01px;
	margin-left: 52px;
	top: -377px;
	margin-bottom: -377px;
	position: relative;
}

#pu584,#pu603
{
	width: 0.01px;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	left: 484px;
}

#u603
{
	z-index: 52;
	width: 373px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/fondo%20feature.jpg") no-repeat left top;
}

#u2640
{
	z-index: 137;
	width: 162px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -30px;
	left: -7px;
	background: transparent url("../images/samba%20tv-u2640-fr.png") no-repeat center center;
	background-size: contain !important;
}

#u606
{
	z-index: 57;
	width: 98px;
	height: 43px;
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../images/logo-white-u587-fr.png") no-repeat center center;
	background-size: cover !important;
}

#u607-4
{
	z-index: 58;
	width: 104px;
	min-height: 30px;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: normal;
	margin-top: 8px;
	position: relative;
}

#u605-4
{
	z-index: 53;
	width: 96px;
	min-height: 30px;
	font-size: 18px;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 271px;
}

#u608
{
	z-index: 62;
	width: 20px;
	height: 20px;
	background: #FFFFFF url("../images/u608-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#E21E79),color-stop(80%, #FFFFFF));
	background: -webkit-linear-gradient(top,#E21E79 ,#FFFFFF 80%);
	background: -moz-linear-gradient(top,#E21E79 ,#FFFFFF 80%);
	background: -ms-linear-gradient(top,#E21E79 ,#FFFFFF 80%);
	background: -o-linear-gradient(top,#E21E79 ,#FFFFFF 80%);
	background: linear-gradient(to bottom,#E21E79 ,#FFFFFF 80%);
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 163px;
}

#u609
{
	z-index: 63;
	width: 20px;
	height: 20px;
	background: #FFFFFF url("../images/u609-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#0071BC),color-stop(74%, #FFFFFF));
	background: -webkit-linear-gradient(top,#0071BC ,#FFFFFF 74%);
	background: -moz-linear-gradient(top,#0071BC ,#FFFFFF 74%);
	background: -ms-linear-gradient(top,#0071BC ,#FFFFFF 74%);
	background: -o-linear-gradient(top,#0071BC ,#FFFFFF 74%);
	background: linear-gradient(to bottom,#0071BC ,#FFFFFF 74%);
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 188px;
}

#u3274
{
	z-index: 139;
	width: 20px;
	height: 20px;
	background: #000000 url("../images/u3274-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#FF0000),color-stop(80%, #000000));
	background: -webkit-linear-gradient(top,#FF0000 ,#000000 80%);
	background: -moz-linear-gradient(top,#FF0000 ,#000000 80%);
	background: -ms-linear-gradient(top,#FF0000 ,#000000 80%);
	background: -o-linear-gradient(top,#FF0000 ,#000000 80%);
	background: linear-gradient(to bottom,#FF0000 ,#000000 80%);
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 213px;
}

#u3275
{
	z-index: 140;
	width: 20px;
	height: 20px;
	background: #000000 url("../images/u3275-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#0071BC),color-stop(74%, #000000));
	background: -webkit-linear-gradient(top,#0071BC ,#000000 74%);
	background: -moz-linear-gradient(top,#0071BC ,#000000 74%);
	background: -ms-linear-gradient(top,#0071BC ,#000000 74%);
	background: -o-linear-gradient(top,#0071BC ,#000000 74%);
	background: linear-gradient(to bottom,#0071BC ,#000000 74%);
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 238px;
}

#pamphletu686
{
	z-index: 186;
	width: 0.01px;
	height: 302px;
	position: relative;
	margin-right: -10000px;
	margin-top: 75px;
	left: 32px;
}

#u687popup
{
	z-index: 187;
}

#u688
{
	z-index: 188;
	width: 307px;
	height: 279px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	-moz-border-radius: 15px 15px 0px 15px ;
	-webkit-border-radius: 15px 15px 0px 15px ;
	-khtml-border-radius: 15px 15px 0px 15px ;
	border-radius: 15px 15px 0px 15px ;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/zoey%20ii-u688-fr.jpg") no-repeat left top;
	background-size: contain !important;
}

#u693
{
	z-index: 189;
	width: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 290px;
	left: 306px;
}

#u694
{
	position: absolute;
	width: 32px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 6px;
	top: -7px;
	left: -3px;
}

#u694:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin: 0px;
}

#u695-4
{
	z-index: 191;
	width: 26px;
	min-height: 12px;
	background-color: transparent;
	font-size: 10px;
	color: #7F7F7F;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 3px;
}

#u680.PamphletThumbSelected #u681-4,#u694:hover #u695-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 7px -10000px 0px 0px;
}

#u694:active #u695-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 7px -10000px 0px 0px;
}

#u594
{
	z-index: 39;
	width: 373px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/fondo%20feature.jpg") no-repeat left top;
}

#u2647
{
	z-index: 138;
	width: 157px;
	height: 190px;
	border-style: none;
	border-color: transparent;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -31px;
	left: -4px;
	background: transparent url("../images/jenny%20tv%2028-u2647-fr.png") no-repeat center center;
	background-size: contain !important;
}

#pu596-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 163px;
}

#u596-4
{
	z-index: 40;
	width: 109px;
	min-height: 30px;
	font-size: 16px;
	color: #FFFFFF;
	font-weight: bold;
	margin-left: 98px;
	position: relative;
}

#u598-4
{
	z-index: 45;
	width: 104px;
	min-height: 30px;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: normal;
	margin-top: 14px;
	position: relative;
}

#u597
{
	z-index: 44;
	width: 98px;
	height: 43px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 163px;
	background: transparent url("../images/logo-white-u587-fr.png") no-repeat center center;
	background-size: cover !important;
}

#u599
{
	z-index: 49;
	width: 20px;
	height: 20px;
	background: #0071BC url("../images/u599-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(14%, #FFFFFF),to(#0071BC));
	background: -webkit-linear-gradient(top,#FFFFFF 14%,#0071BC );
	background: -moz-linear-gradient(top,#FFFFFF 14%,#0071BC );
	background: -ms-linear-gradient(top,#FFFFFF 14%,#0071BC );
	background: -o-linear-gradient(top,#FFFFFF 14%,#0071BC );
	background: linear-gradient(to bottom,#FFFFFF 14%,#0071BC );
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 163px;
}

#u600
{
	z-index: 50;
	width: 20px;
	height: 20px;
	background: #000000 url("../images/u600-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(14%, #0071BC),to(#000000));
	background: -webkit-linear-gradient(top,#0071BC 14%,#000000 );
	background: -moz-linear-gradient(top,#0071BC 14%,#000000 );
	background: -ms-linear-gradient(top,#0071BC 14%,#000000 );
	background: -o-linear-gradient(top,#0071BC 14%,#000000 );
	background: linear-gradient(to bottom,#0071BC 14%,#000000 );
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 188px;
}

#u601
{
	z-index: 51;
	width: 20px;
	height: 20px;
	background: #D76B9D url("../images/u601-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF),color-stop(100%, #D76B9D));
	background: -webkit-linear-gradient(top,#FFFFFF ,#D76B9D 100%);
	background: -moz-linear-gradient(top,#FFFFFF ,#D76B9D 100%);
	background: -ms-linear-gradient(top,#FFFFFF ,#D76B9D 100%);
	background: -o-linear-gradient(top,#FFFFFF ,#D76B9D 100%);
	background: linear-gradient(to bottom,#FFFFFF ,#D76B9D 100%);
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 213px;
}

#u2605-4
{
	z-index: 118;
	width: 39px;
	min-height: 17px;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 87px;
	left: 238px;
}

#ppu621
{
	width: 0.01px;
	padding-bottom: 6px;
	margin-left: 52px;
	top: -194px;
	margin-bottom: -194px;
	position: relative;
}

#pu621
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 484px;
}

#u621
{
	z-index: 78;
	width: 204px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
	padding: 14px 6px 28px 163px;
	background: transparent url("../images/fondo%20feature.jpg") no-repeat left top;
}

#pu587,#pu624
{
	width: 0.01px;
	position: relative;
}

#u624
{
	z-index: 83;
	width: 98px;
	height: 43px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/logo-white-u587-fr.png") no-repeat center center;
	background-size: cover !important;
}

#u623-4
{
	z-index: 79;
	width: 96px;
	min-height: 30px;
	font-size: 24px;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 108px;
}

#u625-4
{
	z-index: 84;
	width: 104px;
	min-height: 30px;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: normal;
	margin-top: 8px;
	position: relative;
}

#u2600-4
{
	z-index: 104;
	width: 39px;
	min-height: 17px;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: normal;
	margin-left: 31px;
	margin-top: 18px;
	position: relative;
}

#u626
{
	z-index: 88;
	width: 20px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #F15A24;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 126px;
	left: 163px;
}

#u627
{
	z-index: 89;
	width: 20px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 126px;
	left: 188px;
}

#u628
{
	z-index: 90;
	width: 20px;
	height: 20px;
	background: #0071BC url("../images/u628-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF),color-stop(100%, #0071BC));
	background: -webkit-linear-gradient(top,#FFFFFF ,#0071BC 100%);
	background: -moz-linear-gradient(top,#FFFFFF ,#0071BC 100%);
	background: -ms-linear-gradient(top,#FFFFFF ,#0071BC 100%);
	background: -o-linear-gradient(top,#FFFFFF ,#0071BC 100%);
	background: linear-gradient(to bottom,#FFFFFF ,#0071BC 100%);
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 126px;
	left: 213px;
}

#u629
{
	z-index: 91;
	width: 20px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FCEE21;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 126px;
	left: 238px;
}

#u2619
{
	z-index: 134;
	width: 167px;
	height: 195px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 3px;
	background: transparent url("../images/zoei%20ii-u2619-fr.png") no-repeat center center;
	background-size: cover !important;
}

#u612
{
	z-index: 64;
	width: 373px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
	background: transparent url("../images/fondo%20feature.jpg") no-repeat left top;
}

#u2626
{
	z-index: 135;
	width: 154px;
	height: 172px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -22px;
	left: 3px;
	background: transparent url("../images/tank%20ii-u2626-fr.png") no-repeat center center;
	background-size: contain !important;
}

#u615
{
	z-index: 69;
	width: 98px;
	height: 43px;
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../images/logo-white-u587-fr.png") no-repeat center center;
	background-size: cover !important;
}

#u616-4
{
	z-index: 70;
	width: 104px;
	min-height: 30px;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: normal;
	margin-top: 8px;
	position: relative;
}

#pu2601
{
	width: 0.01px;
	margin-top: 18px;
	position: relative;
}

#u2601
{
	z-index: 108;
	width: 20px;
	height: 20px;
	background: #FFFFFF url("../images/u2601-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#55CA96),color-stop(100%, #FFFFFF));
	background: -webkit-linear-gradient(top,#55CA96 ,#FFFFFF 100%);
	background: -moz-linear-gradient(top,#55CA96 ,#FFFFFF 100%);
	background: -ms-linear-gradient(top,#55CA96 ,#FFFFFF 100%);
	background: -o-linear-gradient(top,#55CA96 ,#FFFFFF 100%);
	background: linear-gradient(to bottom,#55CA96 ,#FFFFFF 100%);
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
}

#u2602
{
	z-index: 109;
	width: 20px;
	height: 20px;
	background: #FFFFFF url("../images/u2602-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#DC87AF),color-stop(100%, #FFFFFF));
	background: -webkit-linear-gradient(top,#DC87AF ,#FFFFFF 100%);
	background: -moz-linear-gradient(top,#DC87AF ,#FFFFFF 100%);
	background: -ms-linear-gradient(top,#DC87AF ,#FFFFFF 100%);
	background: -o-linear-gradient(top,#DC87AF ,#FFFFFF 100%);
	background: linear-gradient(to bottom,#DC87AF ,#FFFFFF 100%);
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	left: 25px;
}

#u2603-4
{
	z-index: 110;
	width: 39px;
	min-height: 17px;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 51px;
}

#u614-4
{
	z-index: 65;
	width: 96px;
	min-height: 30px;
	font-size: 24px;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 271px;
}

#u617
{
	z-index: 74;
	width: 20px;
	height: 20px;
	background: #000000 url("../images/u617-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#0071BC),color-stop(80%, #000000));
	background: -webkit-linear-gradient(top,#0071BC ,#000000 80%);
	background: -moz-linear-gradient(top,#0071BC ,#000000 80%);
	background: -ms-linear-gradient(top,#0071BC ,#000000 80%);
	background: -o-linear-gradient(top,#0071BC ,#000000 80%);
	background: linear-gradient(to bottom,#0071BC ,#000000 80%);
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 126px;
	left: 163px;
}

#u618
{
	z-index: 75;
	width: 20px;
	height: 20px;
	background: #000000 url("../images/u618-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#FF0000),color-stop(86%, #000000));
	background: -webkit-linear-gradient(top,#FF0000 ,#000000 86%);
	background: -moz-linear-gradient(top,#FF0000 ,#000000 86%);
	background: -ms-linear-gradient(top,#FF0000 ,#000000 86%);
	background: -o-linear-gradient(top,#FF0000 ,#000000 86%);
	background: linear-gradient(to bottom,#FF0000 ,#000000 86%);
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 126px;
	left: 188px;
}

#u619
{
	z-index: 76;
	width: 20px;
	height: 20px;
	background: #000000 url("../images/u619-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(26%, #FFFF00),to(#000000));
	background: -webkit-linear-gradient(top,#FFFF00 26%,#000000 );
	background: -moz-linear-gradient(top,#FFFF00 26%,#000000 );
	background: -ms-linear-gradient(top,#FFFF00 26%,#000000 );
	background: -o-linear-gradient(top,#FFFF00 26%,#000000 );
	background: linear-gradient(to bottom,#FFFF00 26%,#000000 );
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 126px;
	left: 213px;
}

#u620
{
	z-index: 77;
	width: 20px;
	height: 20px;
	background: #FFFFFF url("../images/u620-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#0071BC),color-stop(100%, #FFFFFF));
	background: -webkit-linear-gradient(top,#0071BC ,#FFFFFF 100%);
	background: -moz-linear-gradient(top,#0071BC ,#FFFFFF 100%);
	background: -ms-linear-gradient(top,#0071BC ,#FFFFFF 100%);
	background: -o-linear-gradient(top,#0071BC ,#FFFFFF 100%);
	background: linear-gradient(to bottom,#0071BC ,#FFFFFF 100%);
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 126px;
	left: 238px;
}

#pamphletu2502
{
	z-index: 195;
	width: 0.01px;
	height: 313px;
	position: relative;
	margin-right: -10000px;
	margin-top: 106px;
	left: 26px;
}

#u687,#u2503
{
	position: absolute;
	width: 309px;
}

#u2503popup
{
	z-index: 196;
}

#u2504
{
	z-index: 197;
	width: 307px;
	height: 290px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	-moz-border-radius: 15px 15px 0px 15px ;
	-webkit-border-radius: 15px 15px 0px 15px ;
	-khtml-border-radius: 15px 15px 0px 15px ;
	border-radius: 15px 15px 0px 15px ;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/janet-u2504-fr.jpg") no-repeat left top;
	background-size: contain !important;
}

#u2509
{
	z-index: 198;
	width: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 301px;
	left: 306px;
}

#u2510
{
	position: absolute;
	width: 32px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 6px;
	top: -7px;
	left: -3px;
}

#u2510:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin: 0px;
}

#u567.PamphletThumbSelected,#u632.PamphletThumbSelected,#u662.PamphletThumbSelected,#u652.PamphletThumbSelected,#u680.PamphletThumbSelected,#u694.PamphletThumbSelected,#u2510.PamphletThumbSelected
{
	background-color: #6B6B6B;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin: 0px;
}

#u2511-4
{
	z-index: 200;
	width: 26px;
	min-height: 12px;
	background-color: transparent;
	font-size: 10px;
	color: #7F7F7F;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 3px;
}

#u694.PamphletThumbSelected #u695-4,#u2510:hover #u2511-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 7px -10000px 0px 0px;
}

#u2510:active #u2511-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 7px -10000px 0px 0px;
}

#u2510.PamphletThumbSelected #u2511-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 7px -10000px 0px 0px;
}

#u567.PamphletThumbSelected #u568-4 p,#u632.PamphletThumbSelected #u633-4 p,#u662.PamphletThumbSelected #u663-4 p,#u652.PamphletThumbSelected #u653-4 p,#u680.PamphletThumbSelected #u681-4 p,#u694.PamphletThumbSelected #u695-4 p,#u2510.PamphletThumbSelected #u2511-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	font-size: 10px;
}

#pu2480
{
	width: 0.01px;
	margin-left: 52px;
	top: -151px;
	margin-bottom: -151px;
	position: relative;
}

#u2480
{
	z-index: 92;
	width: 373px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/fondo%20feature.jpg") no-repeat left top;
}

#u2627
{
	z-index: 136;
	width: 150px;
	height: 181px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -27px;
	left: 6px;
	background: transparent url("../images/yanet%20ii-u2627-fr.png") no-repeat center center;
	background-size: contain !important;
}

#ppu587,#pu606,#pu615,#pu2482
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 163px;
}

#u2482
{
	z-index: 97;
	width: 98px;
	height: 43px;
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../images/logo-white-u587-fr.png") no-repeat center center;
	background-size: cover !important;
}

#u2483-4
{
	z-index: 98;
	width: 104px;
	min-height: 30px;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: normal;
	margin-top: 8px;
	position: relative;
}

#u2481-4
{
	z-index: 93;
	width: 96px;
	min-height: 30px;
	font-size: 22px;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 271px;
}

#u2484
{
	z-index: 102;
	width: 20px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #29ABE2;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 163px;
}

#u2485
{
	z-index: 103;
	width: 20px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 188px;
}

#u2604-4
{
	z-index: 114;
	width: 39px;
	min-height: 17px;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 88px;
	left: 212px;
}

#u76
{
	z-index: 3;
	width: 960px;
	height: 62px;
	margin-top: 69px;
}

#page .verticalspacer
{
	clear: both;
}

