html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1600px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: 1px;
}

#u75
{
	z-index: 2;
	width: 960px;
	padding-bottom: 9px;
}

#u77
{
	z-index: 4;
	width: 160px;
	height: 131px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 27px;
}

#u77.MuseLinkActive
{
	margin: 13px -10000px 0px 0px;
}

#u144-4
{
	z-index: 5;
	width: 451px;
	min-height: 40px;
	margin-right: -10000px;
	margin-top: 62px;
	left: 417px;
}

#pu1780
{
	width: 0.01px;
	padding-bottom: 6px;
	left: -90px;
	margin-top: 22px;
	position: relative;
}

#u1780
{
	z-index: 9;
	width: 920px;
	height: 337px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 110px;
	background: #FFFFFF url("../images/diapositiva44-u1780-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#pamphletu1855
{
	z-index: 145;
	width: 0.01px;
	height: 424px;
	position: relative;
	margin-right: -10000px;
	margin-top: 144px;
}

#u1862
{
	position: absolute;
	width: 523px;
}

#u1862popup
{
	z-index: 146;
}

#u1863
{
	z-index: 147;
	width: 521px;
	height: 401px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	-moz-border-radius: 15px 15px 0px 15px ;
	-webkit-border-radius: 15px 15px 0px 15px ;
	-khtml-border-radius: 15px 15px 0px 15px ;
	border-radius: 15px 15px 0px 15px ;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/blu%20life%208xl-u1863-fr.jpg") no-repeat left top;
	background-size: contain !important;
}

#u1866
{
	z-index: 148;
	width: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 412px;
	left: 474px;
}

#u1867
{
	position: absolute;
	width: 32px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 6px;
	top: -7px;
	left: -3px;
}

#u1867:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin: 0px;
}

#u1868-4
{
	z-index: 150;
	width: 26px;
	min-height: 12px;
	background-color: transparent;
	font-size: 10px;
	color: #7F7F7F;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 3px;
}

#u1867:hover #u1868-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 7px -10000px 0px 0px;
}

#u1867:active #u1868-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 7px -10000px 0px 0px;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pamphletu1841
{
	z-index: 154;
	width: 0.01px;
	height: 447px;
	position: relative;
	margin-right: -10000px;
	margin-top: 121px;
	left: 478px;
}

#u1846
{
	position: absolute;
	width: 553px;
}

#u1846popup
{
	z-index: 155;
}

#u1847
{
	z-index: 156;
	width: 551px;
	height: 424px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	-moz-border-radius: 15px 15px 0px 15px ;
	-webkit-border-radius: 15px 15px 0px 15px ;
	-khtml-border-radius: 15px 15px 0px 15px ;
	border-radius: 15px 15px 0px 15px ;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/life%20pure%20xl3-u1847-fr.jpg") no-repeat left top;
	background-size: contain !important;
}

#u1848
{
	z-index: 157;
	width: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 435px;
	left: 486px;
}

#u1849
{
	position: absolute;
	width: 32px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 6px;
	top: -7px;
	left: -3px;
}

#u1849:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin: 0px;
}

#u1850-4
{
	z-index: 159;
	width: 26px;
	min-height: 12px;
	background-color: transparent;
	font-size: 10px;
	color: #7F7F7F;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 3px;
}

#u1867.PamphletThumbSelected #u1868-4,#u1849:hover #u1850-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 7px -10000px 0px 0px;
}

#u1849:active #u1850-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 7px -10000px 0px 0px;
}

#pamphletu1799
{
	z-index: 163;
	width: 0.01px;
	height: 442px;
	left: -96px;
	top: -200px;
	margin-bottom: -200px;
	position: relative;
}

#u1805
{
	position: absolute;
	width: 548px;
}

#u1805popup
{
	z-index: 164;
}

#u1806
{
	z-index: 165;
	width: 546px;
	height: 419px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	-moz-border-radius: 15px 15px 0px 15px ;
	-webkit-border-radius: 15px 15px 0px 15px ;
	-khtml-border-radius: 15px 15px 0px 15px ;
	border-radius: 15px 15px 0px 15px ;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/life%20view%2080-u1806-fr.jpg") no-repeat left top;
	background-size: contain !important;
}

#u1802
{
	z-index: 166;
	width: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 431px;
	left: 480px;
}

#u1803
{
	position: absolute;
	width: 32px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 6px;
	top: -8px;
	left: -3px;
}

#u1803:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin: 0px;
}

#u1804-4
{
	z-index: 168;
	width: 26px;
	min-height: 12px;
	background-color: transparent;
	font-size: 10px;
	color: #7F7F7F;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 3px;
}

#u1803:hover #u1804-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 8px -10000px 0px 0px;
}

#u1803:active #u1804-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 8px -10000px 0px 0px;
}

#pamphletu1869
{
	z-index: 172;
	width: 0.01px;
	height: 414px;
	margin-left: 215px;
	top: -414px;
	margin-bottom: -414px;
	position: relative;
}

#u1878
{
	position: absolute;
	width: 662px;
}

#u1878popup
{
	z-index: 173;
}

#u1879
{
	z-index: 174;
	width: 660px;
	height: 391px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	-moz-border-radius: 15px 15px 0px 15px ;
	-webkit-border-radius: 15px 15px 0px 15px ;
	-khtml-border-radius: 15px 15px 0px 15px ;
	border-radius: 15px 15px 0px 15px ;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/life%20one%20fondo-u1879-fr.jpg") no-repeat left top;
	background-size: contain !important;
}

#u4482
{
	z-index: 176;
	width: 13px;
	height: 13px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 127px;
	left: 417px;
}

#u4475
{
	z-index: 175;
	width: 195px;
	height: 316px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 43px;
	left: 456px;
	background: #FFFFFF url("../images/lifeonexlspec-u4475-fr.jpg") no-repeat left center;
	background-size: cover !important;
}

#u1880
{
	z-index: 177;
	width: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 403px;
	left: 659px;
}

#u1881
{
	position: absolute;
	width: 32px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 6px;
	top: -8px;
	left: -3px;
}

#u1881:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin: 0px;
}

#u1882-4
{
	z-index: 179;
	width: 26px;
	min-height: 12px;
	background-color: transparent;
	font-size: 10px;
	color: #7F7F7F;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 3px;
}

#u1803.PamphletThumbSelected #u1804-4,#u1881:hover #u1882-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 8px -10000px 0px 0px;
}

#u1881:active #u1882-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 8px -10000px 0px 0px;
}

#ppu1767
{
	width: 0.01px;
	margin-left: 52px;
	top: -390px;
	margin-bottom: -158px;
	position: relative;
}

#u1767
{
	z-index: 22;
	width: 373px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 12px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/fondo%20life.jpg") no-repeat right center;
}

#u2773
{
	z-index: 91;
	width: 142px;
	height: 191px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -45px;
	left: 11px;
	background: transparent url("../images/life%20pure%20xl%202-u2773-fr.png") no-repeat left center;
	background-size: cover !important;
}

#u1792
{
	z-index: 27;
	width: 98px;
	height: 43px;
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../images/logo-white-u587-fr.png") no-repeat center center;
	background-size: cover !important;
}

#u1745-4
{
	z-index: 28;
	width: 104px;
	min-height: 30px;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: normal;
	margin-top: 8px;
	position: relative;
}

#u1774-4
{
	z-index: 23;
	width: 96px;
	min-height: 30px;
	font-size: 14px;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 271px;
}

#u1777
{
	z-index: 32;
	width: 20px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 163px;
}

#u2800-4
{
	z-index: 97;
	width: 35px;
	min-height: 15px;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 88px;
	left: 188px;
}

#u1790
{
	z-index: 10;
	width: 373px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 15px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/fondo%20life.jpg") no-repeat right center;
}

#u1751
{
	z-index: 11;
	width: 109px;
	height: 216px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -73px;
	left: 23px;
	background: transparent url("../images/8xl-u1751-fr.png") no-repeat left center;
	background-size: cover !important;
}

#u1788
{
	z-index: 16;
	width: 98px;
	height: 43px;
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../images/logo-white-u587-fr.png") no-repeat center center;
	background-size: cover !important;
}

#pu1797
{
	width: 0.01px;
	margin-top: 28px;
	position: relative;
}

#u1797
{
	z-index: 21;
	width: 20px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #E27DAC;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
}

#u1770-4
{
	z-index: 17;
	width: 35px;
	min-height: 15px;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 5px;
	left: 25px;
}

#u1760-4
{
	z-index: 12;
	width: 96px;
	min-height: 30px;
	font-size: 22px;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 271px;
}

#u2799-4
{
	z-index: 93;
	width: 104px;
	min-height: 30px;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 68px;
	left: 164px;
}

#pamphletu1813
{
	z-index: 194;
	width: 0.01px;
	height: 455px;
	margin-left: 383px;
	top: -222px;
	margin-bottom: -222px;
	position: relative;
}

#u1822popup
{
	z-index: 195;
}

#u1823
{
	z-index: 196;
	width: 556px;
	height: 432px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	-moz-border-radius: 15px 15px 0px 15px ;
	-webkit-border-radius: 15px 15px 0px 15px ;
	-khtml-border-radius: 15px 15px 0px 15px ;
	border-radius: 15px 15px 0px 15px ;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/life%20play%20mini-u1823-fr.jpg") no-repeat left top;
	background-size: contain !important;
}

#u1824
{
	z-index: 197;
	width: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 443px;
	left: 491px;
}

#u1825
{
	position: absolute;
	width: 32px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 6px;
	top: -7px;
	left: -3px;
}

#u1825:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin: 0px;
}

#u1826-4
{
	z-index: 199;
	width: 26px;
	min-height: 12px;
	background-color: transparent;
	font-size: 10px;
	color: #7F7F7F;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 3px;
}

#u1849.PamphletThumbSelected #u1850-4,#u1825:hover #u1826-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 7px -10000px 0px 0px;
}

#u1825:active #u1826-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 7px -10000px 0px 0px;
}

#pamphletu1827
{
	z-index: 183;
	width: 0.01px;
	height: 377px;
	left: -263px;
	top: -377px;
	margin-bottom: -377px;
	position: relative;
}

#u1837
{
	position: absolute;
	width: 652px;
}

#u1837popup
{
	z-index: 184;
}

#u1838
{
	z-index: 185;
	width: 650px;
	height: 354px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	-moz-border-radius: 15px 15px 0px 15px ;
	-webkit-border-radius: 15px 15px 0px 15px ;
	-khtml-border-radius: 15px 15px 0px 15px ;
	border-radius: 15px 15px 0px 15px ;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/life%20one%20fondo-u1838-fr.jpg") no-repeat left top;
	background-size: contain !important;
}

#u4486
{
	z-index: 186;
	width: 13px;
	height: 13px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	position: relative;
	margin-right: -10000px;
	margin-top: 138px;
	left: 411px;
}

#u4488
{
	z-index: 187;
	width: 209px;
	height: 271px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	left: 432px;
	background: #FFFFFF url("../images/lifeonexlspec-u4488-fr.jpg") no-repeat right center;
	background-size: cover !important;
}

#u1832
{
	z-index: 188;
	width: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 365px;
	left: 647px;
}

#u1833
{
	position: absolute;
	width: 32px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 6px;
	top: -7px;
	left: -3px;
}

#u1833:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin: 0px;
}

#u1834-4
{
	z-index: 190;
	width: 26px;
	min-height: 12px;
	background-color: transparent;
	font-size: 10px;
	color: #7F7F7F;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 3px;
}

#u1825.PamphletThumbSelected #u1826-4,#u1833:hover #u1834-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 7px -10000px 0px 0px;
}

#u1833:active #u1834-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 7px -10000px 0px 0px;
}

#pu1750
{
	width: 0.01px;
	padding-bottom: 6px;
	left: -186px;
	top: -377px;
	margin-bottom: -377px;
	position: relative;
}

#u1750
{
	z-index: 33;
	width: 373px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	left: 238px;
	background: transparent url("../images/fondo%20life.jpg") no-repeat right center;
}

#u2766
{
	z-index: 90;
	width: 148px;
	height: 193px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -28px;
	left: 4px;
	background: transparent url("../images/life%20view%2080-7-b-u2766-fr.png") no-repeat center center;
	background-size: cover !important;
}

#u1778
{
	z-index: 38;
	width: 98px;
	height: 43px;
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../images/logo-white-u587-fr.png") no-repeat center center;
	background-size: cover !important;
}

#u1791-4
{
	z-index: 39;
	width: 104px;
	min-height: 30px;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: normal;
	margin-top: 8px;
	position: relative;
}

#u1759-4
{
	z-index: 34;
	width: 96px;
	min-height: 30px;
	font-size: 15px;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 271px;
}

#u1773
{
	z-index: 43;
	width: 20px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 401px;
}

#u1766
{
	z-index: 44;
	width: 373px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 6px;
	position: relative;
	margin-right: -10000px;
	left: 722px;
	background: transparent url("../images/fondo%20life.jpg") no-repeat right center;
}

#u2745
{
	z-index: 87;
	width: 142px;
	height: 187px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -35px;
	left: 11px;
	background: transparent url("../images/life%20one-u2745-fr.png") no-repeat left center;
	background-size: cover !important;
}

#u1744
{
	z-index: 49;
	width: 98px;
	height: 43px;
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../images/logo-white-u587-fr.png") no-repeat center center;
	background-size: cover !important;
}

#u1793-4
{
	z-index: 50;
	width: 104px;
	min-height: 30px;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: normal;
	margin-top: 8px;
	position: relative;
}

#u1776-4
{
	z-index: 45;
	width: 96px;
	min-height: 30px;
	font-size: 21px;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 268px;
}

#u1757
{
	z-index: 54;
	width: 20px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 885px;
}

#u2801-4
{
	z-index: 101;
	width: 35px;
	min-height: 15px;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 88px;
	left: 449px;
}

#u2802
{
	z-index: 105;
	width: 20px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 424px;
}

#u3290-4
{
	z-index: 122;
	width: 39px;
	min-height: 17px;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 88px;
	left: 908px;
}

#pamphletu2725
{
	z-index: 203;
	width: 0.01px;
	height: 462px;
	position: relative;
	margin-right: -10000px;
	margin-top: 129px;
}

#u2729
{
	position: absolute;
	width: 573px;
}

#u2729popup
{
	z-index: 204;
}

#u2730
{
	z-index: 205;
	width: 571px;
	height: 439px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	-moz-border-radius: 15px 15px 0px 15px ;
	-webkit-border-radius: 15px 15px 0px 15px ;
	-khtml-border-radius: 15px 15px 0px 15px ;
	border-radius: 15px 15px 0px 15px ;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/life%20x8-u2730-fr.jpg") no-repeat left top;
	background-size: contain !important;
}

#u2726
{
	z-index: 206;
	width: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 451px;
	left: 570px;
}

#u2727
{
	position: absolute;
	width: 32px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 6px;
	top: -8px;
	left: -3px;
}

#u2727:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin: 0px;
}

#u2728-4
{
	z-index: 208;
	width: 26px;
	min-height: 12px;
	background-color: transparent;
	font-size: 10px;
	color: #7F7F7F;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 3px;
}

#u1881.PamphletThumbSelected #u1882-4,#u2727:hover #u2728-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 8px -10000px 0px 0px;
}

#u2727:active #u2728-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 8px -10000px 0px 0px;
}

#u2727.PamphletThumbSelected #u2728-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 8px -10000px 0px 0px;
}

#pamphletu4366
{
	z-index: 212;
	width: 0.01px;
	height: 452px;
	position: relative;
	margin-right: -10000px;
	margin-top: 130px;
	left: 569px;
}

#u1822,#u4378
{
	position: absolute;
	width: 558px;
}

#u4378popup
{
	z-index: 213;
}

#u4379
{
	z-index: 214;
	width: 556px;
	height: 429px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	-moz-border-radius: 15px 15px 0px 15px ;
	-webkit-border-radius: 15px 15px 0px 15px ;
	-khtml-border-radius: 15px 15px 0px 15px ;
	border-radius: 15px 15px 0px 15px ;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/life%20play%202-u4379-fr.jpg") no-repeat left top;
	background-size: contain !important;
}

#u4373
{
	z-index: 215;
	width: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 440px;
	left: 491px;
}

#u4374
{
	position: absolute;
	width: 32px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 6px;
	top: -7px;
	left: -3px;
}

#u4374:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin: 0px;
}

#u1867.PamphletThumbSelected,#u1849.PamphletThumbSelected,#u1803.PamphletThumbSelected,#u1881.PamphletThumbSelected,#u1825.PamphletThumbSelected,#u1833.PamphletThumbSelected,#u2727.PamphletThumbSelected,#u4374.PamphletThumbSelected
{
	background-color: #6B6B6B;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin: 0px;
}

#u4375-4
{
	z-index: 217;
	width: 26px;
	min-height: 12px;
	background-color: transparent;
	font-size: 10px;
	color: #7F7F7F;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 3px;
}

#u1833.PamphletThumbSelected #u1834-4,#u4374:hover #u4375-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 7px -10000px 0px 0px;
}

#u4374:active #u4375-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 7px -10000px 0px 0px;
}

#u4374.PamphletThumbSelected #u4375-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 7px -10000px 0px 0px;
}

#u1867.PamphletThumbSelected #u1868-4 p,#u1849.PamphletThumbSelected #u1850-4 p,#u1803.PamphletThumbSelected #u1804-4 p,#u1881.PamphletThumbSelected #u1882-4 p,#u1825.PamphletThumbSelected #u1826-4 p,#u1833.PamphletThumbSelected #u1834-4 p,#u2727.PamphletThumbSelected #u2728-4 p,#u4374.PamphletThumbSelected #u4375-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	font-size: 10px;
}

#ppu1746
{
	width: 0.01px;
	margin-left: 52px;
	top: -354px;
	margin-bottom: -158px;
	position: relative;
}

#pu1767,#pu1746
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 484px;
}

#u1746
{
	z-index: 66;
	width: 373px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/fondo%20life.jpg") no-repeat right center;
}

#u2759
{
	z-index: 89;
	width: 132px;
	height: 187px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -39px;
	left: 17px;
	background: transparent url("../images/life%20play%20mini-u2759-fr.png") no-repeat left center;
	background-size: cover !important;
}

#pu1763-4
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 19px;
	left: 163px;
}

#u1763-4
{
	z-index: 67;
	width: 111px;
	min-height: 30px;
	font-size: 15px;
	color: #FFFFFF;
	font-weight: bold;
	margin-left: 97px;
	position: relative;
}

#u1755-4
{
	z-index: 72;
	width: 104px;
	min-height: 30px;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: normal;
	margin-top: 15px;
	position: relative;
}

#u1794
{
	z-index: 71;
	width: 98px;
	height: 43px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 163px;
	background: transparent url("../images/logo-white-u587-fr.png") no-repeat center center;
	background-size: cover !important;
}

#u3276-4
{
	z-index: 106;
	width: 39px;
	min-height: 17px;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 88px;
	left: 262px;
}

#u3277
{
	z-index: 110;
	width: 20px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #0071BC;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 163px;
}

#u3278
{
	z-index: 111;
	width: 20px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 188px;
}

#u3280
{
	z-index: 112;
	width: 20px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 213px;
}

#u3281
{
	z-index: 113;
	width: 20px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFF00;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 238px;
}

#u1752
{
	z-index: 55;
	width: 373px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 4px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/fondo%20life.jpg") no-repeat right center;
}

#u2746
{
	z-index: 88;
	width: 146px;
	height: 160px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -6px;
	left: 6px;
	background: transparent url("../images/life%20one%20xl-u2746-fr.png") no-repeat left center;
	background-size: contain !important;
}

#pu1792,#pu1788,#pu1778,#pu1744,#ppu1783
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 163px;
}

#pu1783
{
	width: 0.01px;
	position: relative;
}

#u1783
{
	z-index: 60;
	width: 98px;
	height: 43px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/logo-white-u587-fr.png") no-repeat center center;
	background-size: cover !important;
}

#u1781-4
{
	z-index: 56;
	width: 96px;
	min-height: 30px;
	font-size: 15px;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 103px;
}

#u1786-4
{
	z-index: 61;
	width: 104px;
	min-height: 30px;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: normal;
	margin-top: 8px;
	position: relative;
}

#u1795
{
	z-index: 65;
	width: 20px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 163px;
}

#u3289-4
{
	z-index: 118;
	width: 39px;
	min-height: 17px;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 88px;
	left: 186px;
}

#ppu3291
{
	width: 0.01px;
	margin-left: 53px;
	top: -189px;
	margin-bottom: -189px;
	position: relative;
}

#pu3291
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 482px;
}

#u3291
{
	z-index: 126;
	width: 373px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 36px;
	background: transparent url("../images/fondo%20life.jpg") no-repeat right center;
}

#u3291_position_content
{
	margin-top: 13px;
	margin-bottom: 64px;
}

#pu3293
{
	width: 0.01px;
	margin-left: 163px;
	position: relative;
}

#u3293
{
	z-index: 131;
	width: 98px;
	height: 43px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/logo-white-u587-fr.png") no-repeat center center;
	background-size: cover !important;
}

#u3292-4
{
	z-index: 127;
	width: 111px;
	min-height: 30px;
	font-size: 17px;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 6px;
	left: 100px;
}

#u3294-4
{
	z-index: 132;
	width: 104px;
	min-height: 30px;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: normal;
	margin-left: 163px;
	margin-top: 8px;
	position: relative;
}

#u3295
{
	z-index: 136;
	width: 159px;
	height: 199px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 7px;
	background: transparent url("../images/10-u3295-fr.png") no-repeat center center;
	background-size: cover !important;
}

#u3296-4
{
	z-index: 137;
	width: 39px;
	min-height: 17px;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 124px;
	left: 262px;
}

#u3297
{
	z-index: 141;
	width: 20px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #0071BC;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: 163px;
}

#u3298
{
	z-index: 142;
	width: 20px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #7F7F7F;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: 188px;
}

#u3299
{
	z-index: 143;
	width: 20px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: 213px;
}

#u3300
{
	z-index: 144;
	width: 20px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFF00;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 120px;
	left: 238px;
}

#u2717
{
	z-index: 76;
	width: 373px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 8px;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	background: transparent url("../images/fondo%20life.jpg") no-repeat right center;
}

#u2780
{
	z-index: 92;
	width: 102px;
	height: 187px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -37px;
	left: 28px;
	background: transparent url("../images/life%20el%20que%20falta-u2780-fr.png") no-repeat left center;
	background-size: cover !important;
}

#pu2719
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	left: 163px;
}

#u2719
{
	z-index: 81;
	width: 98px;
	height: 43px;
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../images/logo-white-u587-fr.png") no-repeat center center;
	background-size: cover !important;
}

#u2720-4
{
	z-index: 82;
	width: 104px;
	min-height: 30px;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: normal;
	margin-top: 8px;
	position: relative;
}

#u2718-4
{
	z-index: 77;
	width: 96px;
	min-height: 30px;
	font-size: 21px;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 271px;
}

#u2721
{
	z-index: 86;
	width: 20px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 123px;
	left: 163px;
}

#u3288-4
{
	z-index: 114;
	width: 39px;
	min-height: 17px;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 128px;
	left: 187px;
}

#u76
{
	z-index: 3;
	width: 960px;
	height: 62px;
	margin-top: 83px;
}

#page .verticalspacer
{
	clear: both;
}

