html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1450px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: 1px;
}

#u75
{
	z-index: 2;
	width: 960px;
	padding-bottom: 9px;
}

#u77
{
	z-index: 4;
	width: 160px;
	height: 131px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 27px;
}

#u77.MuseLinkActive
{
	margin: 13px -10000px 0px 0px;
}

#u144-4
{
	z-index: 5;
	width: 451px;
	min-height: 40px;
	margin-right: -10000px;
	margin-top: 62px;
	left: 417px;
}

#pu964
{
	width: 0.01px;
	padding-bottom: 6px;
	left: -86px;
	margin-top: 22px;
	position: relative;
}

#u964
{
	z-index: 9;
	width: 920px;
	height: 337px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 106px;
	background: #FFFFFF url("../images/diapositiva10-u964-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#pamphletu885
{
	z-index: 90;
	width: 0.01px;
	height: 508px;
	position: relative;
	margin-right: -10000px;
	margin-top: 60px;
}

#u888
{
	position: absolute;
	width: 632px;
}

#u888popup
{
	z-index: 91;
}

#u889
{
	z-index: 92;
	width: 630px;
	height: 485px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	-moz-border-radius: 15px 15px 0px 15px ;
	-webkit-border-radius: 15px 15px 0px 15px ;
	-khtml-border-radius: 15px 15px 0px 15px ;
	border-radius: 15px 15px 0px 15px ;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/neo%2040%20jr-u889-fr.jpg") no-repeat left top;
	background-size: contain !important;
}

#u890
{
	z-index: 93;
	width: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 496px;
	left: 470px;
}

#u891
{
	position: absolute;
	width: 32px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 6px;
	top: -7px;
	left: -3px;
}

#u891:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin: 0px;
}

#u892-4
{
	z-index: 95;
	width: 26px;
	min-height: 12px;
	background-color: transparent;
	font-size: 10px;
	color: #7F7F7F;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 3px;
}

#u891:hover #u892-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 7px -10000px 0px 0px;
}

#u891:active #u892-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 7px -10000px 0px 0px;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pamphletu899
{
	z-index: 99;
	width: 0.01px;
	height: 377px;
	position: relative;
	margin-right: -10000px;
	margin-top: 191px;
	left: 522px;
}

#u900
{
	position: absolute;
	width: 441px;
}

#u900popup
{
	z-index: 100;
}

#u901
{
	z-index: 101;
	width: 439px;
	height: 354px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	-moz-border-radius: 15px 15px 0px 15px ;
	-webkit-border-radius: 15px 15px 0px 15px ;
	-khtml-border-radius: 15px 15px 0px 15px ;
	border-radius: 15px 15px 0px 15px ;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/neo%2045-u901-fr.jpg") no-repeat left top;
	background-size: contain !important;
}

#u908
{
	z-index: 102;
	width: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 365px;
	left: 438px;
}

#u909
{
	position: absolute;
	width: 32px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 6px;
	top: -7px;
	left: -3px;
}

#u909:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin: 0px;
}

#u910-4
{
	z-index: 104;
	width: 26px;
	min-height: 12px;
	background-color: transparent;
	font-size: 10px;
	color: #7F7F7F;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 3px;
}

#u891.PamphletThumbSelected #u892-4,#u909:hover #u910-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 7px -10000px 0px 0px;
}

#u909:active #u910-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 7px -10000px 0px 0px;
}

#pamphletu871
{
	z-index: 117;
	width: 0.01px;
	height: 468px;
	margin-left: 454px;
	top: -225px;
	margin-bottom: -225px;
	position: relative;
}

#u881
{
	position: absolute;
	width: 594px;
}

#u881popup
{
	z-index: 118;
}

#u882
{
	z-index: 119;
	width: 592px;
	height: 444px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	-moz-border-radius: 15px 15px 0px 15px ;
	-webkit-border-radius: 15px 15px 0px 15px ;
	-khtml-border-radius: 15px 15px 0px 15px ;
	border-radius: 15px 15px 0px 15px ;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/neo%2050%20especificaciones-u882-fr.jpg") no-repeat left top;
	background-size: contain !important;
}

#u876
{
	z-index: 120;
	width: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 456px;
	left: 420px;
}

#u877
{
	position: absolute;
	width: 32px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 6px;
	top: -8px;
	left: -3px;
}

#u877:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin: 0px;
}

#u878-4
{
	z-index: 122;
	width: 26px;
	min-height: 12px;
	background-color: transparent;
	font-size: 10px;
	color: #7F7F7F;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 3px;
}

#u877:hover #u878-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 8px -10000px 0px 0px;
}

#u877:active #u878-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 8px -10000px 0px 0px;
}

#pamphletu857
{
	z-index: 108;
	width: 0.01px;
	height: 394px;
	left: -57px;
	top: -395px;
	margin-bottom: -394px;
	position: relative;
}

#u865
{
	position: absolute;
	width: 527px;
}

#u865popup
{
	z-index: 109;
}

#u866
{
	z-index: 110;
	width: 525px;
	height: 371px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	-moz-border-radius: 15px 15px 0px 15px ;
	-webkit-border-radius: 15px 15px 0px 15px ;
	-khtml-border-radius: 15px 15px 0px 15px ;
	border-radius: 15px 15px 0px 15px ;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/neo%20jr%20especificaciones-u866-fr.jpg") no-repeat left top;
	background-size: contain !important;
}

#u860
{
	z-index: 111;
	width: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 383px;
	left: 441px;
}

#u861
{
	position: absolute;
	width: 32px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 6px;
	top: -8px;
	left: -3px;
}

#u861:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin: 0px;
}

#u862-4
{
	z-index: 113;
	width: 26px;
	min-height: 12px;
	background-color: transparent;
	font-size: 10px;
	color: #7F7F7F;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 3px;
}

#u877.PamphletThumbSelected #u878-4,#u861:hover #u862-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 8px -10000px 0px 0px;
}

#u861:active #u862-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 8px -10000px 0px 0px;
}

#u861.PamphletThumbSelected #u862-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 8px -10000px 0px 0px;
}

#pu989
{
	width: 0.01px;
	padding-bottom: 6px;
	left: -67px;
	top: -391px;
	margin-bottom: -391px;
	position: relative;
}

#u989
{
	z-index: 23;
	width: 373px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 12px;
	position: relative;
	margin-right: -10000px;
	left: 603px;
	background: transparent url("../images/fondo%20neo.jpg") no-repeat right center;
}

#u950
{
	z-index: 24;
	width: 148px;
	height: 177px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -31px;
	left: 9px;
	background: transparent url("../images/b-u950-fr.png") no-repeat center center;
	background-size: cover !important;
}

#u957
{
	z-index: 29;
	width: 98px;
	height: 43px;
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../images/logo-white-u587-fr.png") no-repeat center center;
	background-size: cover !important;
}

#u973-4
{
	z-index: 30;
	width: 104px;
	min-height: 30px;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: normal;
	margin-top: 8px;
	position: relative;
}

#u949-4
{
	z-index: 25;
	width: 96px;
	min-height: 30px;
	font-size: 20px;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 271px;
}

#u952
{
	z-index: 34;
	width: 20px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 766px;
}

#u962
{
	z-index: 35;
	width: 20px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #E27DAC;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 818px;
}

#u992
{
	z-index: 50;
	width: 373px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 64px;
	position: relative;
	margin-right: -10000px;
	margin-top: 246px;
	left: 603px;
	background: transparent url("../images/fondo%20neo.jpg") no-repeat right center;
}

#u995
{
	z-index: 55;
	width: 98px;
	height: 43px;
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../images/logo-white-u587-fr.png") no-repeat center center;
	background-size: cover !important;
}

#u977-4
{
	z-index: 56;
	width: 104px;
	min-height: 30px;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: normal;
	margin-top: 8px;
	position: relative;
}

#u961-4
{
	z-index: 51;
	width: 96px;
	min-height: 30px;
	font-size: 20px;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 271px;
}

#u986
{
	z-index: 60;
	width: 20px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 330px;
	left: 766px;
}

#u954
{
	z-index: 61;
	width: 20px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 330px;
	left: 791px;
}

#u2899-4
{
	z-index: 78;
	width: 41px;
	min-height: 17px;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 87px;
	left: 842px;
}

#u2901
{
	z-index: 86;
	width: 20px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 791px;
}

#u4658
{
	z-index: 88;
	width: 303px;
	height: 290px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 136px;
	left: 559px;
	background: transparent url("../images/neo%2050%20black%203d(1)-u4658-fr.png") no-repeat center center;
	background-size: cover !important;
}

#pamphletu913
{
	z-index: 126;
	width: 0.01px;
	height: 469px;
	position: relative;
	margin-right: -10000px;
	margin-top: 154px;
}

#u923
{
	position: absolute;
	width: 592px;
}

#u923popup
{
	z-index: 127;
}

#u924
{
	z-index: 128;
	width: 590px;
	height: 440px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	-moz-border-radius: 15px 15px 0px 15px ;
	-webkit-border-radius: 15px 15px 0px 15px ;
	-khtml-border-radius: 15px 15px 0px 15px ;
	border-radius: 15px 15px 0px 15px ;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/neo%2055%20especificaciones-u924-fr.jpg") no-repeat left top;
	background-size: contain !important;
}

#u916
{
	z-index: 129;
	width: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 457px;
	left: 450px;
}

#u917
{
	position: absolute;
	width: 32px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 6px;
	top: -7px;
	left: -3px;
}

#u917:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin: 0px;
}

#u891.PamphletThumbSelected,#u909.PamphletThumbSelected,#u877.PamphletThumbSelected,#u861.PamphletThumbSelected,#u917.PamphletThumbSelected
{
	background-color: #6B6B6B;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin: 0px;
}

#u918-4
{
	z-index: 131;
	width: 26px;
	min-height: 12px;
	background-color: transparent;
	font-size: 10px;
	color: #7F7F7F;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 3px;
}

#u909.PamphletThumbSelected #u910-4,#u917:hover #u918-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 7px -10000px 0px 0px;
}

#u917:active #u918-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 7px -10000px 0px 0px;
}

#u917.PamphletThumbSelected #u918-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 7px -10000px 0px 0px;
}

#u891.PamphletThumbSelected #u892-4 p,#u909.PamphletThumbSelected #u910-4 p,#u877.PamphletThumbSelected #u878-4 p,#u861.PamphletThumbSelected #u862-4 p,#u917.PamphletThumbSelected #u918-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	font-size: 10px;
}

#ppu997
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 119px;
}

#pu997
{
	width: 0.01px;
	position: relative;
}

#u997
{
	z-index: 10;
	width: 373px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 14px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/fondo%20neo.jpg") no-repeat right center;
}

#u943
{
	z-index: 11;
	width: 148px;
	height: 177px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -33px;
	left: 15px;
	background: transparent url("../images/a-u943-fr.png") no-repeat center center;
	background-size: contain !important;
}

#u968-4
{
	z-index: 12;
	width: 96px;
	min-height: 30px;
	font-size: 17px;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 271px;
}

#u960
{
	z-index: 16;
	width: 98px;
	height: 43px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 163px;
	background: transparent url("../images/logo-white-u587-fr.png") no-repeat center center;
	background-size: cover !important;
}

#u958-4
{
	z-index: 17;
	width: 104px;
	min-height: 30px;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
	left: 163px;
}

#u953
{
	z-index: 21;
	width: 20px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 163px;
}

#u980
{
	z-index: 22;
	width: 20px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #E27DAC;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 188px;
}

#u2898-4
{
	z-index: 74;
	width: 41px;
	min-height: 17px;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 87px;
	left: 212px;
}

#pu963
{
	width: 0.01px;
	margin-top: 88px;
	position: relative;
}

#u963
{
	z-index: 36;
	width: 373px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 13px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/fondo%20neo.jpg") no-repeat right center;
}

#u996
{
	z-index: 37;
	width: 148px;
	height: 177px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -32px;
	left: 11px;
	background: transparent url("../images/c-u996-fr.png") no-repeat center center;
	background-size: contain !important;
}

#u974
{
	z-index: 42;
	width: 98px;
	height: 43px;
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../images/logo-white-u587-fr.png") no-repeat center center;
	background-size: cover !important;
}

#u984-4
{
	z-index: 43;
	width: 104px;
	min-height: 30px;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: normal;
	margin-top: 8px;
	position: relative;
}

#u971-4
{
	z-index: 38;
	width: 96px;
	min-height: 30px;
	font-size: 20px;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 271px;
}

#u990
{
	z-index: 47;
	width: 20px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 163px;
}

#u965
{
	z-index: 48;
	width: 20px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #0071BC;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 188px;
}

#u991
{
	z-index: 49;
	width: 20px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FF0000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 213px;
}

#u2900-4
{
	z-index: 82;
	width: 41px;
	min-height: 17px;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 87px;
	left: 236px;
}

#pu987
{
	width: 0.01px;
	margin-left: 52px;
	top: -151px;
	margin-bottom: -151px;
	position: relative;
}

#u987
{
	z-index: 62;
	width: 373px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 9px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/fondo%20neo.jpg") no-repeat left top;
}

#u4665
{
	z-index: 89;
	width: 145px;
	height: 170px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -21px;
	left: 8px;
	background: transparent url("../images/neo%2055%20black-u4665-fr.png") no-repeat left center;
	background-size: cover !important;
}

#pu957,#pu995,#pu974,#pu976
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 163px;
}

#u976
{
	z-index: 67;
	width: 98px;
	height: 43px;
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../images/logo-white-u587-fr.png") no-repeat center center;
	background-size: cover !important;
}

#u994-4
{
	z-index: 68;
	width: 104px;
	min-height: 30px;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: normal;
	margin-top: 8px;
	position: relative;
}

#u972-4
{
	z-index: 63;
	width: 96px;
	min-height: 30px;
	font-size: 20px;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 271px;
}

#u951
{
	z-index: 72;
	width: 20px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 163px;
}

#u956
{
	z-index: 73;
	width: 20px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 188px;
}

#u3307
{
	z-index: 87;
	width: 20px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #0071BC;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 85px;
	left: 213px;
}

#u76
{
	z-index: 3;
	width: 960px;
	height: 62px;
	margin-top: 151px;
}

#page .verticalspacer
{
	clear: both;
}

