html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 900px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: 1px;
}

#u75
{
	z-index: 2;
	width: 960px;
	padding-bottom: 9px;
}

#u77
{
	z-index: 4;
	width: 160px;
	height: 131px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 27px;
}

#u77.MuseLinkActive
{
	margin: 13px -10000px 0px 0px;
}

#u144-4
{
	z-index: 5;
	width: 451px;
	min-height: 40px;
	margin-right: -10000px;
	margin-top: 62px;
	left: 417px;
}

#pu3794
{
	width: 0.01px;
	padding-bottom: 6px;
	left: -116px;
	margin-top: 22px;
	position: relative;
}

#u3794
{
	z-index: 9;
	width: 920px;
	height: 337px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 136px;
	background: #FFFFFF url("../images/start%20design%20fondo-u3794-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#pamphletu3829
{
	z-index: 49;
	width: 0.01px;
	height: 417px;
	position: relative;
	margin-right: -10000px;
	margin-top: 151px;
}

#u3833
{
	position: absolute;
	width: 503px;
}

#u3833popup
{
	z-index: 50;
}

#u3834
{
	z-index: 51;
	width: 501px;
	height: 394px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	-moz-border-radius: 0px 0px 10px 0px ;
	-webkit-border-radius: 0px 0px 10px 0px ;
	-khtml-border-radius: 0px 0px 10px 0px ;
	border-radius: 0px 0px 10px 0px ;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/star%2045%20-u3834-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u3830
{
	z-index: 52;
	width: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 405px;
	left: 500px;
}

#u3831
{
	position: absolute;
	width: 32px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 6px;
	top: -7px;
	left: -3px;
}

#u3831:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin: 0px;
}

#u3832-4
{
	z-index: 54;
	width: 26px;
	min-height: 12px;
	background-color: transparent;
	font-size: 10px;
	color: #7F7F7F;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 3px;
}

#u3831:hover #u3832-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 7px -10000px 0px 0px;
}

#u3831:active #u3832-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 7px -10000px 0px 0px;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pamphletu3843
{
	z-index: 58;
	width: 0.01px;
	height: 410px;
	position: relative;
	margin-right: -10000px;
	margin-top: 158px;
	left: 472px;
}

#u3851
{
	position: absolute;
	width: 521px;
}

#u3851popup
{
	z-index: 59;
}

#u3852
{
	z-index: 60;
	width: 519px;
	height: 387px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	-moz-border-radius: 0px 0px 15px 0px ;
	-webkit-border-radius: 0px 0px 15px 0px ;
	-khtml-border-radius: 0px 0px 15px 0px ;
	border-radius: 0px 0px 15px 0px ;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/star%2045%20desing-u3852-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u3844
{
	z-index: 61;
	width: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 398px;
	left: 518px;
}

#u3845
{
	position: absolute;
	width: 32px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 6px;
	top: -7px;
	left: -3px;
}

#u3845:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin: 0px;
}

#u3831.PamphletThumbSelected,#u3845.PamphletThumbSelected
{
	background-color: #6B6B6B;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin: 0px;
}

#u3846-4
{
	z-index: 63;
	width: 26px;
	min-height: 12px;
	background-color: transparent;
	font-size: 10px;
	color: #7F7F7F;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 3px;
}

#u3831.PamphletThumbSelected #u3832-4,#u3845:hover #u3846-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 7px -10000px 0px 0px;
}

#u3845:active #u3846-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 7px -10000px 0px 0px;
}

#u3845.PamphletThumbSelected #u3846-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 7px -10000px 0px 0px;
}

#u3831.PamphletThumbSelected #u3832-4 p,#u3845.PamphletThumbSelected #u3846-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	font-size: 10px;
}

#ppu3808
{
	width: 0.01px;
	margin-left: 52px;
	top: -192px;
	margin-bottom: -192px;
	position: relative;
}

#pu3808
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 44px;
	left: 484px;
}

#u3808
{
	z-index: 22;
	width: 373px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 5px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/abstract_pink_escape.jpg") no-repeat center center;
}

#u3795
{
	z-index: 38;
	width: 150px;
	height: 203px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -50px;
	left: 12px;
	background: transparent url("../images/blackphone%20(1)-u3795-fr.png") no-repeat left center;
	background-size: cover !important;
}

#u3812
{
	z-index: 23;
	width: 98px;
	height: 43px;
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../images/logo-white-u587-fr.png") no-repeat center center;
	background-size: cover !important;
}

#u3804-4
{
	z-index: 24;
	width: 104px;
	min-height: 30px;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: normal;
	margin-top: 8px;
	position: relative;
}

#u3892-4
{
	z-index: 41;
	width: 96px;
	min-height: 30px;
	font-size: 21px;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 267px;
}

#u3809
{
	z-index: 28;
	width: 20px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 163px;
}

#u3798-4
{
	z-index: 33;
	width: 38px;
	min-height: 15px;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 88px;
	left: 215px;
}

#u3891
{
	z-index: 40;
	width: 20px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 189px;
}

#u3893-4
{
	z-index: 45;
	width: 96px;
	min-height: 30px;
	font-size: 12px;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 42px;
	left: 268px;
}

#u3802
{
	z-index: 10;
	width: 373px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 64px;
	position: relative;
	margin-right: -10000px;
	margin-top: 44px;
	background: transparent url("../images/abstract_pink_escape.jpg") no-repeat center center;
}

#pu3812,#pu3801
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 163px;
}

#u3801
{
	z-index: 15;
	width: 98px;
	height: 43px;
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../images/logo-white-u587-fr.png") no-repeat center center;
	background-size: cover !important;
}

#u3791-4
{
	z-index: 16;
	width: 104px;
	min-height: 30px;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: normal;
	margin-top: 8px;
	position: relative;
}

#u3797-4
{
	z-index: 11;
	width: 96px;
	min-height: 30px;
	font-size: 21px;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 271px;
}

#u3807
{
	z-index: 20;
	width: 20px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #0071BC;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 128px;
	left: 163px;
}

#u3793
{
	z-index: 21;
	width: 20px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #E27DAC;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 128px;
	left: 188px;
}

#u3790-4
{
	z-index: 29;
	width: 38px;
	min-height: 15px;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 132px;
	left: 238px;
}

#u3810
{
	z-index: 37;
	width: 149px;
	height: 196px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 15px;
	background: transparent url("../images/star%2045-u3810-fr.png") no-repeat left center;
	background-size: cover !important;
}

#u3890
{
	z-index: 39;
	width: 20px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #DED441;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 128px;
	left: 213px;
}

#u76
{
	z-index: 3;
	width: 960px;
	height: 62px;
	margin-top: 79px;
}

#page .verticalspacer
{
	clear: both;
}

