html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 1200px;
	background-image: none;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: 1px;
}

#u75
{
	z-index: 2;
	width: 960px;
	padding-bottom: 9px;
}

#u77
{
	z-index: 4;
	width: 160px;
	height: 131px;
	margin-right: -10000px;
	margin-top: 13px;
	left: 27px;
}

#u77.MuseLinkActive
{
	margin: 13px -10000px 0px 0px;
}

#u144-4
{
	z-index: 5;
	width: 451px;
	min-height: 40px;
	margin-right: -10000px;
	margin-top: 62px;
	left: 417px;
}

#pu2005
{
	width: 0.01px;
	padding-bottom: 6px;
	left: -129px;
	margin-top: 22px;
	position: relative;
}

#u2005
{
	z-index: 9;
	width: 920px;
	height: 337px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 149px;
	background: #FFFFFF url("../images/diapositiva51-u2005-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#pamphletu1956
{
	z-index: 59;
	width: 0.01px;
	height: 505px;
	position: relative;
	margin-right: -10000px;
	margin-top: 63px;
}

#u1968
{
	position: absolute;
	width: 632px;
}

#u1968popup
{
	z-index: 60;
}

#u1969
{
	z-index: 61;
	width: 630px;
	height: 482px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	-moz-border-radius: 15px 15px 0px 15px ;
	-webkit-border-radius: 15px 15px 0px 15px ;
	-khtml-border-radius: 15px 15px 0px 15px ;
	border-radius: 15px 15px 0px 15px ;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/vivo%20air-u1969-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u1959
{
	z-index: 62;
	width: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 493px;
	left: 513px;
}

#u1960
{
	position: absolute;
	width: 32px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 6px;
	top: -7px;
	left: -3px;
}

#u1960:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin: 0px;
}

#u1961-4
{
	z-index: 64;
	width: 26px;
	min-height: 12px;
	background-color: transparent;
	font-size: 10px;
	color: #7F7F7F;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 3px;
}

#u1960:hover #u1961-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 7px -10000px 0px 0px;
}

#u1960:active #u1961-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 7px -10000px 0px 0px;
}

.PamphletWidget .ThumbGroup .Thumb, .PamphletNextButton, .PamphletPrevButton, .PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#pamphletu1886
{
	z-index: 68;
	width: 0.01px;
	height: 498px;
	position: relative;
	margin-right: -10000px;
	margin-top: 70px;
	left: 483px;
}

#u1896
{
	position: absolute;
	width: 615px;
}

#u1896popup
{
	z-index: 69;
}

#u1897
{
	z-index: 70;
	width: 613px;
	height: 475px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	-moz-border-radius: 15px 15px 0px 15px ;
	-webkit-border-radius: 15px 15px 0px 15px ;
	-khtml-border-radius: 15px 15px 0px 15px ;
	border-radius: 15px 15px 0px 15px ;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/vivo%20iv-u1897-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u1889
{
	z-index: 71;
	width: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 486px;
	left: 520px;
}

#u1890
{
	position: absolute;
	width: 32px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 6px;
	top: -7px;
	left: -3px;
}

#u1890:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin: 0px;
}

#u1891-4
{
	z-index: 73;
	width: 26px;
	min-height: 12px;
	background-color: transparent;
	font-size: 10px;
	color: #7F7F7F;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 3px;
}

#u1960.PamphletThumbSelected #u1961-4,#u1890:hover #u1891-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 7px -10000px 0px 0px;
}

#u1890:active #u1891-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 7px -10000px 0px 0px;
}

#u1890.PamphletThumbSelected #u1891-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 7px -10000px 0px 0px;
}

#pamphletu1900
{
	z-index: 77;
	width: 0.01px;
	height: 480px;
	left: -110px;
	top: -237px;
	margin-bottom: -237px;
	position: relative;
}

#u1904
{
	position: absolute;
	width: 596px;
}

#u1904popup
{
	z-index: 78;
}

#u1905
{
	z-index: 79;
	width: 594px;
	height: 456px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	-moz-border-radius: 15px 15px 0px 15px ;
	-webkit-border-radius: 15px 15px 0px 15px ;
	-khtml-border-radius: 15px 15px 0px 15px ;
	border-radius: 15px 15px 0px 15px ;
	position: relative;
	margin-right: -10000px;
	background: #FFFFFF url("../images/vivo%20selfie-u1905-fr.jpg") no-repeat center center;
	background-size: cover !important;
}

#u1901
{
	z-index: 80;
	width: 26px;
	position: relative;
	margin-right: -10000px;
	margin-top: 468px;
	left: 494px;
}

#u1902
{
	position: absolute;
	width: 32px;
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	padding-bottom: 6px;
	top: -8px;
	left: -3px;
}

#u1902:hover
{
	border-style: none;
	border-color: transparent;
	background-color: #FFFFFF;
	margin: 0px;
}

#u1960.PamphletThumbSelected,#u1890.PamphletThumbSelected,#u1902.PamphletThumbSelected
{
	background-color: #6B6B6B;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
	margin: 0px;
}

#u1903-4
{
	z-index: 82;
	width: 26px;
	min-height: 12px;
	background-color: transparent;
	font-size: 10px;
	color: #7F7F7F;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	left: 3px;
}

#u1902:hover #u1903-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 8px -10000px 0px 0px;
}

#u1902:active #u1903-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 8px -10000px 0px 0px;
}

#u1902.PamphletThumbSelected #u1903-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 12px;
	margin: 8px -10000px 0px 0px;
}

#u1960.PamphletThumbSelected #u1961-4 p,#u1890.PamphletThumbSelected #u1891-4 p,#u1902.PamphletThumbSelected #u1903-4 p
{
	color: #FFFFFF;
	visibility: inherit;
	font-size: 10px;
}

#ppu1984
{
	width: 0.01px;
	margin-left: 52px;
	top: -431px;
	margin-bottom: -203px;
	position: relative;
}

#pu1984
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	left: 479px;
}

#u1984
{
	z-index: 22;
	width: 373px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 64px;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	left: 5px;
	background: transparent url("../images/fondo%20vivo.jpg") no-repeat center center;
}

#u1997
{
	z-index: 27;
	width: 98px;
	height: 43px;
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../images/logo-white-u587-fr.png") no-repeat center center;
	background-size: cover !important;
}

#u1973-4
{
	z-index: 28;
	width: 104px;
	min-height: 30px;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: normal;
	margin-top: 8px;
	position: relative;
}

#u2004-4
{
	z-index: 23;
	width: 96px;
	min-height: 30px;
	font-size: 24px;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 271px;
}

#u2003
{
	z-index: 32;
	width: 20px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 124px;
	left: 168px;
}

#u2667-4
{
	z-index: 48;
	width: 38px;
	min-height: 15px;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 128px;
	left: 192px;
}

#u2676
{
	z-index: 57;
	width: 180px;
	height: 203px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/5%20(1)-u2676-fr.png") no-repeat center center;
	background-size: cover !important;
}

#u1979
{
	z-index: 10;
	width: 373px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 64px;
	position: relative;
	margin-right: -10000px;
	margin-top: 40px;
	background: transparent url("../images/fondo%20vivo.jpg") no-repeat center center;
}

#u2020
{
	z-index: 15;
	width: 98px;
	height: 43px;
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../images/logo-white-u587-fr.png") no-repeat center center;
	background-size: cover !important;
}

#u1974-4
{
	z-index: 16;
	width: 104px;
	min-height: 30px;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: normal;
	margin-top: 8px;
	position: relative;
}

#u2001-4
{
	z-index: 11;
	width: 96px;
	min-height: 30px;
	font-size: 21px;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 271px;
}

#u1976
{
	z-index: 20;
	width: 20px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 124px;
	left: 163px;
}

#u2025
{
	z-index: 21;
	width: 20px;
	height: 20px;
	background: #000000 url("../images/u2025-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, color-stop(24%, #DED441),to(#000000));
	background: -webkit-linear-gradient(top,#DED441 24%,#000000 );
	background: -moz-linear-gradient(top,#DED441 24%,#000000 );
	background: -ms-linear-gradient(top,#DED441 24%,#000000 );
	background: -o-linear-gradient(top,#DED441 24%,#000000 );
	background: linear-gradient(to bottom,#DED441 24%,#000000 );
	border-style: none;
	border-color: transparent;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 124px;
	left: 188px;
}

#u2666-4
{
	z-index: 44;
	width: 38px;
	min-height: 15px;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 128px;
	left: 212px;
}

#u2669
{
	z-index: 56;
	width: 180px;
	height: 191px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 1px;
	background: transparent url("../images/6%20(1)-u2669-fr.png") no-repeat center center;
	background-size: cover !important;
}

#pu2018
{
	width: 0.01px;
	margin-left: 52px;
	top: -145px;
	margin-bottom: -145px;
	position: relative;
}

#u2018
{
	z-index: 33;
	width: 373px;
	border-style: none;
	border-color: transparent;
	padding-bottom: 10px;
	position: relative;
	margin-right: -10000px;
	background: transparent url("../images/fondo%20vivo.jpg") no-repeat center center;
}

#u2683
{
	z-index: 58;
	width: 101px;
	height: 203px;
	border-style: none;
	border-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -55px;
	left: 19px;
	background: transparent url("../images/blackphone-u2683-fr.png") no-repeat left center;
	background-size: cover !important;
}

#pu1997,#pu2020,#pu1983
{
	width: 0.01px;
	position: relative;
	margin-right: -10000px;
	margin-top: 14px;
	left: 163px;
}

#u1983
{
	z-index: 38;
	width: 98px;
	height: 43px;
	border-style: none;
	border-color: transparent;
	position: relative;
	background: transparent url("../images/logo-white-u587-fr.png") no-repeat center center;
	background-size: cover !important;
}

#u1975-4
{
	z-index: 39;
	width: 104px;
	min-height: 30px;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: normal;
	margin-top: 8px;
	position: relative;
}

#u1985-4
{
	z-index: 34;
	width: 96px;
	min-height: 30px;
	font-size: 15px;
	color: #FFFFFF;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 20px;
	left: 271px;
}

#u1987
{
	z-index: 43;
	width: 20px;
	height: 20px;
	border-style: none;
	border-color: transparent;
	background-color: #000000;
	-moz-border-radius: 100px;
	-webkit-border-radius: 100px;
	-khtml-border-radius: 100px;
	border-radius: 100px;
	position: relative;
	margin-right: -10000px;
	margin-top: 84px;
	left: 163px;
}

#u2668-4
{
	z-index: 52;
	width: 38px;
	min-height: 15px;
	font-size: 11px;
	color: #FFFFFF;
	font-weight: normal;
	position: relative;
	margin-right: -10000px;
	margin-top: 89px;
	left: 187px;
}

#u76
{
	z-index: 3;
	width: 960px;
	height: 62px;
	margin-top: 133px;
}

#page .verticalspacer
{
	clear: both;
}

